<table border="1"  border-radius= '5px' >
    <thead>
        <tr>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td><img src="{{photo}}"></td>
        </tr>
    </thead>
<tbody id="table">
</tbody>
</table>
{{!-- <button class='user_info'>Редактировать</button> --}}