<div class="form_view_1">
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Photo</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><textarea class="form" placeholder="Name"></textarea></td>
        <td><textarea class="form" placeholder="Email"></textarea></td>
        <td
        <form method="post">
            <input id="id_image" name="image" type="file" class="form-control">
        </form>
        </td>
    </tr>
    </tbody>
</table>
<form>
    <button id='save_contact' type="submit" value="Send">Сохранить</button>
</form>
</div>